.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.error .pageTitle {
  border-bottom-color: var(--hl2-color);
}

.error-description {
  color: var(--hl2-color);
}

.error .btn {
  margin-top: 32px;
}

.error-text {
  text-align: center;
}

.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
}